<h2>以下の内容で確定する</h2>

<%= form_with( model: @post, local: true ) do |form| %>
  <%= form.hidden_field :content %>

  <p>内容： <%= @post.content %></p>
  <%= form.submit "投稿を確定する" %>
  <%= form.submit '戻る', name: 'back' %>
<% end %>