<!DOCTYPE html>
<html>
  <head>
    <title>Whisper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <a href="/posts">Whisper</a>
      </h1>
      <nav class="whisper-nav">
        <ul>
          <li><a href="/posts">Whisper一覧</a></li>
          <li><a href="/posts/new">Whisper新規作成</a></li>
        </ul>
    </header>
    <div class="main-body">
      <%= yield %>
    </div>
    <footer>
    <p>© All rights reserved by TaikiYamamoto.</p>
    </footer>
  </body>
</html>
